*{
    font-family: sans-serif;
    background-color: rgb(5, 109, 109);
    color: white;
}


.container:root{
    background-color: rgb(245, 237, 220);
    margin:0;
}
/* CSS for Index Page */
/* Insert code for Index Page here */
.container:root{
    background-color: rgb(245, 237, 220);
    margin:0;
}

header{
    background-position: center;
    background-size: 100%;
    position: fixed;
}

.nav{
    align-items: center;
    height: 40px;
    transition: transform 1s;
    width: 100%;
    height: 40px;
    position: fixed;
    
}

.navbar{
    position: fixed;
    background-color: aqua;

    
}

.navbar:hover{
    height: 60px;
    position: fixed;
}

.navbar ul li{
    list-style: none;
    position: relative;
    padding: 5px;
    display: inline-block;
}

.navbar ul li:hover{
    color: rgb(5, 109, 109);
    background-color: white;
    margin: auto;
}

.navbar ul li a{
    text-decoration: none;
}

.navbar ul li::after{
    content: '';
    background-color: rgb(5, 109, 109);
    transition: 0.5s;
    width: 0%;
    height: 2px;
    display: block;
    margin: auto;
}

.navbar ul li:hover::after{
    width: 100%;
}

.nav-disappear{
    transform: translateY(-100px);
    transition: transform 1s;

}

footer {
    color: rgb(5, 109, 109);
    background-color: white;
    width: 100%;
    bottom: 0;
    position: fixed;
    
}
/* CSS for About US (1) */
/* Imported Fonts for this page go here */

/* Test Comment */
