.container:root{
    background-color: rgb(245, 237, 220);
    margin:0;
}
/* CSS for Index Page */
/* Insert code for Index Page here */
.container:root{
    background-color: rgb(245, 237, 220);
    margin:0;
}
/* CSS for About US (1) */
/* Imported Fonts for this page go here */

/* Test Comment */
